.header {
  height: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
50%;
  margin: auto;
  }
.container {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #3D9970;
  color: black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.picture {
background: url(https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png) no-repeat center center;
  background-size: cover;
  white-space: nowrap;
  position: relative;
  width: 260px;
  height: 400px;
  margin: auto;
  margin-bottom: 80px;
  font-family: 'Abril Fatface', cursive;
}
#intro {
  font-size: 40px; 
  line-height: 1;
  color: 		black;
  margin-top: 300px;
  margin-left: 10px;
  margin-bottom: 0;
}
c {
  font-size: 70px;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  background-color: #2f4f4f;
  color: 	#f5fffa;
  font-weight: normal;
  height: auto;
  font-size: 50px;
  width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 0;
  }
h1::before {
  content: '"';
  font-family: 'Arizonia', cursive;
  font-size: 100px;
  position: relative;
  top: -50px;
  display: inline-block;
  transform: rotate(180deg);
  line-height: 1;
}
h1.picture::before {
  content: none;
}
h2 {
  text-transform: uppercase;
  margin: 30px 0 30px 0;
  font-size: 32px;
  color: 	#f5fffa;
}
h3 {
  margin: 5px 0;
  font-size: 22px;
}
h4 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-style: italic;
  margin: 0 0;
}
p {
  line-height: 1.5;
  color: 	#f5fffa;
  font-size: 20px;
}
ul {
   list-style-type: square;
   color: 	#f5fffa;
   font-size: 20px;
   margin: 10px 0 20px 0;
}
b {
  color: black;
  font-size: 22px;
}

.section {
  display: flex;
  width: 800px;
}
.paragraph {
  width: 700px;
  padding: 0 30px 40px 30px;
}
a:link {
  color: 	#f5fffa;
}
a:visited {
  color: 	#f5fffa;
}
a:hover {
  color: #3D9970;
}
a:active {
  color: #2f4f4f;
}
a {
  text-decoration: none;
}
.page {
  background-color: black;
}
html { background-color: black; }