  .box
  {
    width: 40px;
    height: 40px;
    margin: 10px;

  }
  .blue{
    background-color: blue;
  }
  .purple {
    background-color: purple;
  }
  .container {
  border: 2px solid blue;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  padding: 10px;
  }
  .bottom {
    background-color: salmon;
  }